$css--font-face: true;
$css--helpers: true;
$css--body: true;
$css--use-layer: true;
$css--reset: true;
$css--default-type: true;
$css--plex: true;



$interactive-01: red !default;
$interactive-02: #171717 !default;
$interactive-03: #ffffff !default;
$interactive-04: #ffffff !default;
    $ui-background: black!default;
$ui-01: #f3f3f3 !default;
$ui-02: #ffffff !default;
$ui-03: #dcdcdc !default;
$ui-04: #8c8c8c !default;
$ui-05: #171717 !default;
    $text-01: #ffffff !default;
$text-02: #565656 !default;
$text-03: #8c8c8c !default;
$text-04: #ffffff !default;
$icon-01: #171717 !default;
$icon-02: #565656 !default;
$icon-03: #ffffff !default;
    $link-01: #ffffff !default;
$field-01: #f3f3f3 !default;
$field-02: #ffffff !default;
$inverse-01: #ffffff !default;
$inverse-02: #3d3d3d !default;
$support-01: #da1e28 !default;
$support-02: #24a148 !default;
$support-03: #fdd13a !default;
$support-04: #ffffff !default;
$overlay-01: rgba(23, 23, 23, 0.5) !default;
            $focus: none !default;
            $hover-primary: #ffffff !default;
        $active-primary: #ffffff !default;
        $hover-primary-text: #ffffff !default;
$hover-secondary: #4c4c4c !default;
$active-secondary: #6f6f6f !default;
$hover-tertiary: #ffffff !default;
$active-tertiary: #ffffff !default;
$hover-ui: #e5e5e5 !default;
$active-ui: #bebebe !default;
$selected-ui: #dcdcdc !default;
$hover-selected-ui: #cacaca !default;
$hover-danger: #ba1b23 !default;
$active-danger: #750e13 !default;
$hover-row: #e5e5e5 !default;
    $visited-link: #ffffff !default;
$disabled-01: #f3f3f3 !default;
$disabled-02: #bebebe !default;
$disabled-03: #8c8c8c !default;
$highlight: #c9deff !default;
$brand-01: #ffffff !default;
$brand-02: #171717 !default;
$brand-03: #ffffff !default;
$active-01: #bebebe !default;
$hover-field: #e5e5e5 !default;
// @import 'carbon-components/scss/globals/scss/styles.scss';

@import "carbon-components/scss/globals/scss/_css--font-face.scss";
@import "carbon-components/scss/globals/scss/_css--body.scss";
@import "carbon-components/scss/globals/grid/_grid.scss";
@import "carbon-components/scss/components/button/button";
@import "carbon-components/scss/components/link/link";
